.MenuDeCores {
  color:#10002B;
  color:#240046;
  color:#3C096C;
  color:#5A189A;
  color:#7B2CBF;
  color:#9D4EDD;
  color:#C77DFF;
  color:#E0AAFF;

}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #10002B;
}
.bodyContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  /* align-items: center;
  justify-content: center; */
}
.block{
  display: flex;
  background-color: pink;
  width: 100px;
  height: 100px;
  justify-content: center;

}
